extends layout

block content
  h1= title
  form(name="enter timer settings", method="post")
    div.input
      span.label Enter the time to work per interval 
      br
      input(type="number", min="1", max="60", value="25", name="work")
    div.input
      span.label Enter the time to rest per interval  
      br
      input(type="number",min="1", max="60", value="5", name="rest")
    div.actions
      input(type="submit", value="start timer")