extends layout

block content
  h1= title
  form(name="enter timer settings", method="post")
    div.input
      span.label Enter the name of your task
      br
      input(type="text", placeholder="task name", name="task" id="input-task")
    div.input
      span.label Enter the work interval:
      br
      input(type="number", min="1", max="60", value="25", name="work", id="input-work") 
      span.label  minutes
    div.input
      span.label Enter the rest interval:
      br
      input(type="number",min="1", max="60", value="5", name="rest", id="input-rest") 
      span.label  minutes
    div.actions
      input(type="submit", value="start timer", onclick="start()")
  div(id="svg-div")
    svg(id="polar-svg", width="500", height="500")

