body {
  background: #777;
  margin: auto;
  width: 1000px;
}

span {
  color: #ddd
}

form {
  margin: 0 auto;
}

.polar-svg {
  display: block;
  margin: 0 auto;
}

.text {
  color: #ddd;
  font-size: 32px;
  font-weight: bold;
}


